{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} {% endblock %}</title>
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "{% static 'core/css/main.css'%}">
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head> 
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src = "{% static 'core/img/volume-up.svg'%}" alt="Логотип">
            <a class="navbar-brand" href="/" style = 'color:#4c6be6; font-size: 25px; font-weight: 600;'>EasyConcert</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                {% url 'concert' as url_concert %}
                <a class="nav-link {% if url_concert ==  request.path %} active {% endif %}" href="{{url_concert}}">Концерты
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                {% url 'sell' as url_concert %}
                <a class="nav-link {% if url_concert ==  request.path %} active {% endif %}" href="{{url_concert}}">Продажи
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                {% url 'target' as url_concert %}
                <a class="nav-link {% if url_concert ==  request.path %} active {% endif %}" href="{{url_concert}}">Таргет
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                    {% url 'control_panel_page' as url_control_panel_page %}
                    <a class="nav-link {% if url_control_panel_page ==  request.path %} active {% endif %}" href="{{url_control_panel_page}}">Панель управления
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
                </li>
                </li>
            </ul>
            </form>
            </div style = "position: relative;">
            {% if request.user.is_authenticated %}
                    <a class="nav-link" style = "color:#000000; font-size: 18px;" href="#">{{request.user}}</a>
                        {% url 'logout_page' as url_logout_page %}
                    <a href="{{url_logout_page}}" class="btn btn-danger" style = "color:#ffffff; height: 40px; display: flex; align-items: center; justify-content: center; margin-left: 15px;"> 
                        Выход 
                        <img src = "{% static 'core/img/box-arrow-in-right.svg'%}" alt="Логотип пользователя">
                    </a>
            {% else %}
                    {% url 'register_page' as url_register_page %}
                <a href="{{url_register_page}}" class="btn btn-primary" style=" margin-left: 10px;">
                        Регистрация
                </a>
                    {% url 'login_page' as url_login_page %}
                <a href="{{url_login_page}}" class="btn btn-light"  style=" margin-left: 10px; margin-right: 10px; border: 1px solid #000000">
                    Вход
                </a>    
            {% endif %}



            </div>
        </nav>
    
        {% block content %}
        {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>